<div class="accordion card fixed-bottom" id="annotations">
  <div class="accordion-item">
    <h3 class="accordion-header" id="annotations-header">
      <button
        class="accordion-button"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapse-annotations"
        aria-expanded="false"
        aria-controls="collapse-annotations"
      >
        Annotations
      </button>
    </h3>
    <div
      id="collapse-annotations"
      class="accordion-collapse collapse"
      aria-labelledby="annotations-header"
      data-mdb-parent="#annotations"
    >
      <div id="annotations-list" class="accordion-body">

      </div>
    </div>
  </div>
</div>
