<div class="accordion card fixed-bottom" id="annotations">
  <div class="accordion-item">
    <h3 class="accordion-header" id="annotations-header">
      <button
        class="accordion-button"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseAnnotations"
        aria-expanded="true"
        aria-controls="collapseAnnotations"
      >
        Annotations
      </button>
    </h3>
    <div
      id="collapseAnnotations"
      class="accordion-collapse collapse show"
      aria-labelledby="annotations-header"
      data-mdb-parent="#annotations"
    >
      <div id="annotations-list" class="accordion-body">
        
      </div>
    </div>
  </div>
</div>
