tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-note {
  font-style: italic;
}
tei-num {
  font-weight: bold;
}
tei-del {
  text-decoration: line-through;
  color: red;
}
tei-add {
  font-weight: bold;
  color: green;
}
